#Titreaccueil,
#Titrerdv,
#Titrestats,
#Titremédecin {
    display: none;
}

.body {
    display: flex;
}

.titre {
    margin: 2%;
}

.partie_rdv {
    margin: 2%;
    margin-top: 0;
    width: 60%;
}

.partie_usagers {
    margin: 2%;
    margin-top: 0;
    width: 100%;
}

.titre2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boutons_ajout {
    text-align: right;
}

.boutons_ajout input{
    background-color: green;
    font-size: 100%;
    color: white;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: none;
    border-radius: 12px;
    padding: 10% 10%;
    margin: 0.4% 1%;
}

.boutons_ajout_rdv input{
    padding: 9% 9%;
}

.boutons_ajout input:hover{
    background-color: #6CA6CD;
}

/* CSS RDV */
.box_rdv {
    padding: 2%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border-radius: 12px;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    display: inline-block;
}

.rdv {
    padding: 1%;
    border-bottom: 2px solid black;
}

.rdv:last-child {
    border-bottom: none;
}

.rdvinfo p {
    margin-left: 1%;
}

.rdvinfo {
    display: flex;
    align-items: center;
}

/* CSS boutons modif et suppr */
.boutonsrdv {
    text-align: right;
    display: block;
}

.boutonsrdv a {
    text-decoration: none;
}

.boutonsrdv a img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
}

.boutonsrdv a img:hover {
    background-color: #6CA6CD;
}

.boutonsusager {
    text-align: right;
    display: block;
}

.boutonsusager a {
    text-decoration: none;
}

.boutonsusager a img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.boutonsusager a img:hover {
    background-color: #6CA6CD;
}

/* CSS usagers */
.partie_usagers .titre2 {
    margin-left: 3%;
}

.box_usagers{
    width: 100%;
    margin: auto;
    margin-left: 3%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.item_usager{
    display: inline-block;
    padding:1%;
    margin:2%;
    border-radius: 20px;
}

.lien_usager{
    text-decoration: none;
    color: black;
}

.item_usager:hover {
    background-color: #6CA6CD;
}

.vide:hover {
    background-color: white;
}

.icone_liste_usager{
    max-height: 88px;
}

.nom p{
    font-weight: bold;
    text-align: center;
    margin: 2%;
}

.bouton_assigner {
    text-align: right;
}

.bouton_assigner input{
    background-color: green;
    font-size: 100%;
    color: white;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: none;
    border-radius: 12px;
    padding: 5% 5%;
    margin: 0.4% 1%;
}

.bouton_assigner input:hover{
    background-color: #6CA6CD;
}

#combo_box {
    width: 100%;
    margin: 2%;
    margin-left: 3%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

/* CSS Popup */
.popup {
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 14%;
    overflow: auto;
    background-color: #fefefe;
    padding: 2%;
    border: 1px solid #888;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.popup a {
    text-decoration: none;
}