.body {
    display: flex;
}

.titre {
    margin: 2%;
}

.partie_rdv, .partie_usagers {
    margin: 2%;
    margin-top: 0;
    width: 100%;
}

.box_rdv {
    padding: 10px;
    border: 1px solid black;
    box-shadow: 0 0 10px black;
    border-radius: 12px;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    display: inline-block;
}

.rdv {
    padding: 1%;
    border-bottom: 2px solid black;
}

.rdv:last-child {
    border-bottom: none;
}

.rdvinfo p {
    margin-left: 1%;
}

.rdvinfo {
    display: flex;
    align-items: center;
}

.boutons {
    text-align: right;
}

.boutons a {
    text-decoration: none;
}

.boutons a img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
}

.boutons a img:hover {
    background-color: #6CA6CD;
}

.box_medecin{
    width:80%;
    margin:auto;
    margin-left: 3%;
    margin-top: 1%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.item_medecin{
    display: inline-block;
    padding:2%;
    margin:2%;
    max-width: 11%;
    border-radius: 20px;
}

.lien_medecin{
    text-decoration: none;
    color: black;
}

.item_medecin:hover {
    background-color: #6CA6CD;
}

.icone_liste_medecin{
    max-height: 140px;
}

.nom {
    font-weight: bold;
    text-align: center;
}

.recherche {
    width: 50%;
    margin: auto;
    padding: 2%;
    display: flex;
    align-items: center;
}

.recherche input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 2%;
    padding: 2%;
    width: 90%;
}

.recherche input[type="submit"] {
    padding: 2%;
    height: 2%;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
}