.body{
    margin-bottom: 80px;
}

footer{
    background-color: white;
    width : 100%;
    min-height: 10%;
    position: fixed;
    bottom: 0;
    align-items: center;
}

#footer p  {
    margin-right: 1%;
    font-size: 120%;
}

#footer {
    background-color: #87CEEB;
    border-radius: 20px;
    width: 98%;
    display: flex;
    justify-content: right;
}

.olalala {
    margin: auto;
    margin-right: auto;
    margin-left: 2%;
}

.olalala input{
    background-color: #87CEEB;
    border : 0px;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    font-size: 120%;
    text-decoration: none;
}

.olalala :hover {
    background-color: #6CA6CD;
}

.linkfooter {
    font-size: 110%;
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin-top: auto;
    padding-bottom: 0;
    margin-right: 1%;
}

/* CSS Popup */
#popup_deconnexion {
    display: none;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 14%;
    overflow: auto;
    background-color: #fefefe;
    padding: 2%;
    border: 1px solid #888;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

#popup_deconnexion a {
    text-decoration: none;
}

#popup_deconnexion a:hover {
    text-decoration: underline;
}

#popup_deconnexion_buttons {
    display: flex;
    justify-content: space-around;
}