@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Kulim+Park&family=Work+Sans:wght@300&display=swap');

/* CSS du header */
header {
    background-color: #87CEEB;
    border-radius: 20px;
    display: flex;
    margin: 10px;
    width:98%;
    position: fixed;
}

header img {
    max-width: 50%;
    height: auto;
    margin: 4.2px;
}

header h1 {
    text-align: center;
    margin: auto;
    padding-right: 10%;
    font-size: 300%;
    font-family: 'work sans', sans-serif;
}

.decalage_header {
    padding-top: 135px;
}
/* Fin du CSS du header */