#header_medecin{
    display:none;
}

/* CSS Liste des médecins */
.box_medecin{
    width:80%;
    margin:auto;
    margin-left: 3%;
    margin-top: 1%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.item_medecin{
    display: inline-block;
    padding:2%;
    margin:2%;
    max-width: 11%;
    border-radius: 20px;
}

.autre {
    border-radius: 200px;
    background-color: rgb(160, 222, 160);
}

.lien_medecin{
    text-decoration: none;
    color: black;
}

.item_medecin:hover {
    background-color: #6CA6CD;
}

.icone_liste_medecin{
    max-height: 140px;
}

.nom {
    font-weight: bold;
    text-align: center;
}

.boutons {
    text-align: right;
}

.boutons a {
    text-decoration: none;
}

.boutons a img {
    width: 20px;
    height: 20px;
    margin-left: 5%;
    cursor: pointer;
    border-radius: 5px;
}

.boutons a img:hover {
    background-color: #6CA6CD;
}

/* CSS Barre de recherche */
.recherche {
    width: 50%;
    margin: auto;
    padding: 2%;
    display: flex;
    align-items: center;
}

.recherche input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 2%;
    padding: 2%;
    width: 90%;
}

.recherche input[type="submit"] {
    padding: 2%;
    height: 2%;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
}


/* CSS Formulaire */
.boutons_modif {
    text-align: right;
}

.boutons_modif input{
    position: fixed;
    top : 22%;
    right: 1%;
    height: auto;
    background-color: green;
    font-size: 100%;
    color: white;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: none;
    border-radius: 12px;
    padding: 1% 2%;
    margin: 0.4% 1%;
}

.boutons_modif input:hover{
    background-color: #6CA6CD;
}

.formulaire {
    width: 30%;
    margin: auto;
    margin-top: 5%;
    padding: 2%;
    background-color: #87CEEB;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.formulaire label {
    display: block;
    margin-bottom: 3%;
    font-weight: bold;
}

.formulaire input[type="text"] {
    width: 90%;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5%;
}

.formulaire input[type="submit"] {
    padding: 1% 2%;
    border: none;
    border-radius: 5px;
    float: right;
}

#bouton_valider {
    background-color: #ccc;
    cursor: default;
    color: #000;
}

#bouton_valider.active:hover {
    background-color: #127215;
}

#bouton_valider.active {
    background-color: #4CAF50;
    cursor: pointer;
    color: #fff;
}

/* CSS Popup */
.popup {
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 11%;
    overflow: auto;
    background-color: #fefefe;
    padding: 2%;
    border: 1px solid #888;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.popup a {
    text-decoration: none;
}