.body {
    display: flex;
}

.partie_rdv, .partie_usagers {
    margin: 2%;
    margin-top: 0;
    width: 100%;

}

.box_rdv {
    padding: 10px;
    border: 1px solid black;
    box-shadow: 0 0 10px black;
    border-radius: 12px;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.rdv {
    padding: 1%;
    margin: 0;
}

.boutons {
    text-align: right;
}

.boutons a {
    text-decoration: none;
}

.boutons a img {
    width: 40px;
    height: 40px;
    margin-left: 5%;
    cursor: pointer;
    border-radius: 5px;
}

.boutons a img:hover {
    background-color: #6CA6CD;
}