.box_medecin{
    width:80%;
    margin:auto;

}
.item_medecin{
    display: inline-block;
    padding:2%;
    margin:2%;
    width:fit-content;
}
.icone_liste_medecin{
    max-height:200px;
}
.boutons_modif{
    display:flex;
    position: sticky;
    bottom:30px;
    right:0px;
}