#header_medecin{
    display:none;
}

.box_medecin{
    width:80%;
    margin:auto;
    margin-left: 3%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

}

.item_medecin{
    display: inline-block;
    padding:2%;
    margin:2%;
    width:fit-content;
}

.icone_liste_medecin{
    max-height:200px;
}

.boutons_modif {
    text-align: right;
}

.boutons_modif input{
    position: fixed;
    top : 22%;
    right: 1%;
    height: auto;
    background-color: green;
    font-size: 16px;
    color: white;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: none;
    border-radius: 12px;
    padding: 16px 32px;
    margin: 4px 10px;
}

.boutons_modif input:hover{
    background-color: #6CA6CD;
}

.formulaire {
    width: 30%;
    margin: auto;
    margin-top: 5%;
    padding: 2%;
    background-color: #87CEEB;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.formulaire label {
    display: block;
    margin-bottom: 3%;
    font-weight: bold;
}

.formulaire input[type="text"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.formulaire input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 1% 2%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

.formulaire input[type="submit"]:hover {
    background-color: #45a049;
}
