#header_rdv{
    display:none;
}

#Titreaccueil,
#Titremédecin,
#Titrepatient,
#Titrestats {
    display: none;
}

.boutons_modif {
    text-align: right;
}

.boutons_modif input{
    background-color: green;
    font-size: 16px;
    color: white;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: none;
    border-radius: 12px;
    padding: 16px 32px;
    margin: 4px 10px;
}

.boutons_modif input:hover{
    background-color: #6CA6CD;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.card {
    flex-basis: calc(25% - 20px);
    background-color: #ffffff;
    padding: 15px;
    margin: 1%;
    border-radius: 10px;
    border: 1px solid #99a0a2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card:nth-child(even) {
    background-color: #dedede;
}

.card:hover {
    background-color: #87CEEB;
}

.col-2 {
    text-align: right;
    margin-right: 20px;
}

.display-4 {
    margin: 0;
}

.list-inline {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
    margin-right: 5%;
}

.list-inline-item {
    color: #6c757d;
}

.boutons {
    text-align: right;
}

.boutons a {
    text-decoration: none;
}

.boutons a img {
    width: 30px;
    height: auto;
    margin-left: 5%;
    cursor: pointer;
    border-radius: 5px;
}

.boutons a img:hover {
    background-color: #6CA6CD;
}

.recherche {
    width: 50%;
    margin: auto;
    padding: 2%;
    display: flex;
    align-items: center;
}

.recherche select {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 2%;
    padding: 2%;
    width: 90%;
}

.recherche input[type="submit"] {
    padding: 2%;
    height: 2%;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
}

/* CSS Popup */
.popup {
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 11%;
    overflow: auto;
    background-color: #fefefe;
    padding: 2%;
    border: 1px solid #888;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.popup a {
    text-decoration: none;
}

/* CSS Formulaire */
.boutons_modif {
    text-align: right;
}

.boutons_modif input{
    position: fixed;
    top : 22%;
    right: 1%;
    height: auto;
    background-color: green;
    font-size: 100%;
    color: white;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: none;
    border-radius: 12px;
    padding: 1% 2%;
    margin: 0.4% 1%;
}

.boutons_modif input:hover{
    background-color: #6CA6CD;
}

.formulaire {
    display: none;
    width: 30%;
    margin: auto;
    margin-top: 2%;
    padding: 2%;
    background-color: #87CEEB;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
}

.formulaire label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.formulaire select,
.formulaire input[type="date"],
.formulaire input[type="time"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.formulaire input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50; /* Green */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.formulaire input[type="submit"]:hover {
    background-color: #45a049; /* Darker Green on hover */
}

