/* styles.css */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1;
}

.popup-content {
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Classe pour afficher le pop-up */
.popup.show {
    display: block;
}

/* Classe pour cacher le pop-up */
.popup.hide {
    display: none;
}
